<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title>Crear aeronave</mdc-dialog-title>
      <form [formGroup]="spaceshipForm" (ngSubmit)="submit()" autocomplete="off">
        <mdc-dialog-content style="overflow: inherit">
            <mdc-form-field>
              <mdc-text-field formControlName="id" label="Id" type="number" min=0 dense outlined required></mdc-text-field>
              <p mdcTextFieldHelperText persistent validation>*Id obligatorio</p>
            </mdc-form-field>
            <mdc-form-field>
              <mdc-text-field formControlName="name" label="Nombre" outlined dense required [helperText]="nameHelper"></mdc-text-field>
              <p #nameHelper="mdcHelperText" mdcTextFieldHelperText validation>*Nombre obligatorio</p>
            </mdc-form-field>
            <mdc-form-field>
              <mdc-text-field formControlName="maxPassengers" type="number" min=0 label="Número máximo" outlined dense required [helperText]="nummaxHelper"></mdc-text-field>
              <p #nummaxHelper="mdcHelperText" mdcTextFieldHelperText validation>*Número máximo obligatorio</p>
            </mdc-form-field>
            <div style="display: flex;">
              <mdc-form-field>
                <mdc-select formControlName="fromMothership" placeholder="Origen" outlined >
                  <mdc-icon mdcSelectIcon>flight_takeoff</mdc-icon>
                  <option></option>
                  <option *ngFor="let mothership of motherships" [value]="mothership.id">
                    {{mothership.name}}
                  </option>
                </mdc-select>
              </mdc-form-field>
              <mdc-form-field>
                <mdc-select formControlName="toMothership" placeholder="Destino" outlined >
                  <mdc-icon mdcSelectIcon>flight_land</mdc-icon>
                  <option></option>
                  <option *ngFor="let mothership of motherships" [value]="mothership.id">
                    {{mothership.name}}
                  </option>
                </mdc-select>
              </mdc-form-field>
            </div>
        </mdc-dialog-content>
        <mdc-dialog-actions>
          <button mdcDialogButton type="button" mdcDialogAction="close">Cancelar</button>
          <button mdcDialogButton type="submit" primary>Crear</button>
          <!--<button mdcDialogButton type="submit" [disabled]="!spaceshipForm.valid" primary>Crear</button>-->
        </mdc-dialog-actions>
      </form>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
