<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title>Revisar aeronave</mdc-dialog-title>
      <form [formGroup]="spaceshipInspectionForm" (ngSubmit)="submit()" autocomplete="off">
        <mdc-dialog-content class="app-dialog-content">
          <mdc-form-field>
            <mdc-text-field formControlName="id" label="Id" type="number" min=0 dense outlined
                            required></mdc-text-field>
            <p mdcTextFieldHelperText persistent validation>*Id obligatorio</p>
          </mdc-form-field>
          <mdc-form-field>
            <mdc-text-field formControlName="revisor" label="Nombre revisor" outlined dense required
                            [helperText]="nameHelper"></mdc-text-field>
            <p #nameHelper="mdcHelperText" mdcTextFieldHelperText validation>*Nombre revisor obligatorio</p>
          </mdc-form-field>
          <mdc-form-field>
            <mdc-text-field formControlName="spaceship_id" type="number" min=0 label="Id aeronave"
                            (keyup)="applyFilter($event.target.value)" outlined dense required
                            [helperText]="spaceshipIdHelper"></mdc-text-field>
            <p #spaceshipIdHelper="mdcHelperText" mdcTextFieldHelperText validation>*Id aeronave obligatorio</p>
          </mdc-form-field>
          <mdc-form-field>
            <mdc-text-field formControlName="date" type="date" label="Fecha revisión"
                            outlined dense required
                            [helperText]="dateHelper"></mdc-text-field>
            <p #dateHelper="mdcHelperText" mdcTextFieldHelperText validation>*Fecha obligatoria</p>
          </mdc-form-field>
          <mdc-list-group subheader="Pasajeros">
            <mdc-list interactive="false" border="true" *ngFor="let passenger of passengers">
              <mdc-list-item>
                <mdc-icon mdcListItemGraphic>
                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                    <path
                      d="M7,6H5V4H7V6M17,6H19V4H17V6M23,12V18H21V14H19V18H17V16H7V18H5V14H3V18H1V12H3V10H5V8H7V6H9V8H15V6H17V8H19V10H21V12H23M15,10V12H17V10H15M7,12H9V10H7V12M11,18H7V20H11V18M17,18H13V20H17V18Z"></path>
                  </svg>
                </mdc-icon>
                {{passenger.name}}
              </mdc-list-item>
            </mdc-list>
          </mdc-list-group>
        </mdc-dialog-content>
        <mdc-dialog-actions>
          <button mdcDialogButton type="button" mdcDialogAction="close">Cancelar</button>
          <button mdcDialogButton type="submit" primary>Crear</button>
        </mdc-dialog-actions>
      </form>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
