<button mdc-fab position='bottomRight' [routerLink]="['/create-passenger']">
  <mdc-icon>add</mdc-icon>
</button>
<table mat-table [dataSource]="myData">
  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let user"> {{user.name}} </td>
  </ng-container>
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <td mat-cell *matCellDef="let user"> {{user.age}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myData; columns: columnsToDisplay"></tr>
</table>
