<!--The content below is only a placeholder and can be replaced.-->
<mdc-top-app-bar #topAppBar [short]="true" fixed>
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="center" title='{{title}}'>
      <button mdcIconButton mdcTopAppBarNavIcon (click)="appdrawer.open = !appdrawer.open" icon="menu"></button>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>
<mdc-drawer #appdrawer="mdcDrawer" drawer="modal" > <!--mdcTopAppBarFixedAdjust margin top for topappbar modal/dismissible -->
  <mdc-drawer-header title="Gestionar"></mdc-drawer-header>
  <mdc-drawer-content>
    <mdc-list useActivatedClass>
      <mdc-list-item (click)="appdrawer.open = !appdrawer.open" [routerLink]="['list-mothership']" routerLinkActive #rlaHome="routerLinkActive"><mdc-icon mdcListItemGraphic>person</mdc-icon>Naves nodrizas</mdc-list-item>
      <mdc-list-item (click)="appdrawer.open = !appdrawer.open" [routerLink]="['list-spaceship']" routerLinkActive #rlaHome="routerLinkActive"><mdc-icon mdcListItemGraphic>person</mdc-icon>Aeronaves</mdc-list-item>
      <mdc-list-item (click)="appdrawer.open = !appdrawer.open" [routerLink]="['list-passenger']" routerLinkActive #rlaHome="routerLinkActive"><mdc-icon mdcListItemGraphic>person</mdc-icon>Pasajeros</mdc-list-item>
    </mdc-list>
  </mdc-drawer-content>
</mdc-drawer>

<div mdcDrawerAppContent mdcTopAppBarFixedAdjust class="drawer-app-content">
  <router-outlet></router-outlet>
</div>
