<!--The content below is only a placeholder and can be replaced.-->
<mdc-top-app-bar #topAppBar [short]="true" fixed>
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="center" title='{{title}}'>
      <button mdcIconButton mdcTopAppBarNavIcon (click)="appdrawer.open = !appdrawer.open" icon="menu"></button>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>
<mdc-drawer #appdrawer="mdcDrawer" drawer="modal" > <!--mdcTopAppBarFixedAdjust margin top for topappbar modal/dismissible -->
  <mdc-drawer-header title="Gestionar"></mdc-drawer-header>
  <mdc-drawer-content>
    <mdc-list useActivatedClass>
      <mdc-list-item (click)="appdrawer.open = !appdrawer.open" [routerLink]="['mothership']" routerLinkActive #rlaHome="routerLinkActive">
        <mdc-icon mdcListItemGraphic>business</mdc-icon>
        Naves nodrizas
      </mdc-list-item>
      <mdc-list-item (click)="appdrawer.open = !appdrawer.open" [routerLink]="['spaceship']" routerLinkActive #rlaHome="routerLinkActive"><mdc-icon mdcListItemGraphic>flight</mdc-icon>Aeronaves</mdc-list-item>
      <mdc-list-item (click)="appdrawer.open = !appdrawer.open" [routerLink]="['passenger']" routerLinkActive #rlaHome="routerLinkActive">
        <mdc-icon mdcListItemGraphic>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M7,6H5V4H7V6M17,6H19V4H17V6M23,12V18H21V14H19V18H17V16H7V18H5V14H3V18H1V12H3V10H5V8H7V6H9V8H15V6H17V8H19V10H21V12H23M15,10V12H17V10H15M7,12H9V10H7V12M11,18H7V20H11V18M17,18H13V20H17V18Z" /></svg>
        </mdc-icon>
        Pasajeros
      </mdc-list-item>
    </mdc-list>
  </mdc-drawer-content>
</mdc-drawer>

<div mdcDrawerAppContent mdcTopAppBarFixedAdjust class="drawer-app-content">
  <router-outlet></router-outlet>
</div>
