<div class="app-form" [mdcElevation]="1">
  <mdc-text-field class="app-form-field" #demoformInput formControlName="id" label="Id" outlined dense required minlength="3"></mdc-text-field>
  <mdc-text-field class="app-form-field" #demoformInput formControlName="name" label="Nombre" outlined dense required minlength="3"></mdc-text-field>
  <mdc-text-field class="app-form-field" #demoformInput formControlName="name" label="Número máximo" outlined dense required minlength="3"></mdc-text-field>
  <mdc-form-field>
    <mdc-select placeholder="Nave nodriza origen" outlined>
      <option value="1">Nave1</option>
      <option value="2">Nave2</option>
    </mdc-select>
  </mdc-form-field>
  <mdc-form-field>
    <mdc-select placeholder="Nave nodriza destino" outlined>
      <option value="1">Nave1</option>
      <option value="2">Nave2</option>
    </mdc-select>
  </mdc-form-field>
  <div class="app-form-button">
    <button mdc-button outlined><mdc-icon>add</mdc-icon>Crear aeronave</button>
  </div>

</div>
