<button mdc-fab position='bottomRight' (click)="openForm()">
  <mdc-icon>add</mdc-icon>
</button>
<mdc-text-field label="Filtrar" dense (keyup)="applyFilter($event.target.value)" ></mdc-text-field>
<table mat-table [dataSource]="dataSource" [mdcElevation]="1" class="app-table">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let spaceship"> {{spaceship.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let spaceship"> {{spaceship.name}} </td>
  </ng-container>
  <ng-container matColumnDef="maxPassengers">
    <th mat-header-cell *matHeaderCellDef>Num máx.</th>
    <td mat-cell *matCellDef="let spaceship"> {{spaceship.maxPassengers}} </td>
  </ng-container>
  <ng-container matColumnDef="fromMothership_id">
    <th mat-header-cell *matHeaderCellDef>Nave nodriza origen</th>
    <td mat-cell *matCellDef="let spaceship"> {{spaceship.fromMothership.name}} </td>
  </ng-container>
  <ng-container matColumnDef="toMothership_id">
    <th mat-header-cell *matHeaderCellDef>Nave nodriza destino</th>
    <td mat-cell *matCellDef="let spaceship"> {{spaceship.toMothership.name}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let dataSource; columns: columnsToDisplay"></tr>
</table>
