<!--The content below is only a placeholder and can be replaced.-->
<mdc-top-app-bar #topAppBar [short]="true" [fixedAdjustElement]="mainContent">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="center" title="SIGEM">
      <button mdcIconButton mdcTopAppBarNavIcon (click)="appdrawer.open = !appdrawer.open" icon="menu"></button>
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>


<mdc-drawer #appdrawer="mdcDrawer" drawer="modal" [fixedAdjustElement]="topAppBar">
  <mdc-drawer-header title="Gestionar"></mdc-drawer-header>
  <mdc-drawer-content>
    <mdc-list useActivatedClass>
      <mdc-list-item [routerLink]="['home']" routerLinkActive #rlaHome="routerLinkActive"><mdc-icon mdcListItemGraphic>person</mdc-icon>Naves nodrizas</mdc-list-item>
      <mdc-list-item [routerLink]="['home']" routerLinkActive #rlaHome="routerLinkActive"><mdc-icon mdcListItemGraphic>person</mdc-icon>Aeronaves</mdc-list-item>
      <mdc-list-item [routerLink]="['home']" routerLinkActive #rlaHome="routerLinkActive"><mdc-icon mdcListItemGraphic>person</mdc-icon>Pasajeros</mdc-list-item>
    </mdc-list>
  </mdc-drawer-content>
</mdc-drawer>
