<mdc-drawer #mydrawer class="app-drawer-form" drawer="dismissible" #demoDismissible>
  <mdc-drawer-header title="Crear nave nodriza"></mdc-drawer-header>
  <mdc-drawer-content>
    <div style="flex-direction: column; align-items: flex-end; display: flex;">
      <div class="app-form">
        <mdc-text-field class="app-form-field" #demoformInput formControlName="id" label="Id" outlined dense></mdc-text-field>
        <mdc-text-field class="app-form-field" #demoformInput formControlName="name" label="Nombre" outlined dense required minlength="3"></mdc-text-field>
      </div>
      <button mdc-button primary>Añadir</button>
    </div>
  </mdc-drawer-content>
</mdc-drawer>
<div mdcDrawerAppContent>
  <div>
    <button mdc-fab position='bottomRight' (click)="mydrawer.open = !mydrawer.open">
      <mdc-icon>add</mdc-icon>
    </button>
    <table mat-table [dataSource]="myData" [mdcElevation]="1" class="app-table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>
      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myData; columns: columnsToDisplay"></tr>
    </table>
  </div>

</div>

