<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface>
      <mdc-dialog-title>Bajar pasajero</mdc-dialog-title>
      <form [formGroup]="passengerLandForm" (ngSubmit)="submit()" autocomplete="off">
        <mdc-dialog-content class="app-dialog-content">
          <mdc-form-field>
            <mdc-text-field formControlName="passengerId" type="number" min=0 label="Id Pasajero" dense outlined required></mdc-text-field>
            <p mdcTextFieldHelperText persistent validation>*Id obligatorio</p>
          </mdc-form-field>
          <mdc-form-field>
            <mdc-text-field formControlName="spaceshipId" type="number" min=0 label="Id Aeronave" dense outlined required></mdc-text-field>
            <p mdcTextFieldHelperText persistent validation>*Id obligatorio</p>
          </mdc-form-field>
        </mdc-dialog-content>
        <mdc-dialog-actions>
          <button mdcDialogButton type="button" mdcDialogAction="close">Cancelar</button>
          <button mdcDialogButton type="submit" primary>Bajar</button>
        </mdc-dialog-actions>
      </form>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
