<button mdc-fab position='bottomRight' (click)="openCreateForm()">
  <mdc-icon>add</mdc-icon>
</button>
<table mat-table [dataSource]="dataSource" [mdcElevation]="1" matSort class="app-table">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let passenger"> {{passenger.id}} </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let passenger"> {{passenger.name}} </td>
  </ng-container>
  <ng-container matColumnDef="spaceshipId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Aeronave</th>
    <td mat-cell *matCellDef="let passenger">
      <div *ngIf="passenger.spaceship == null">
        No asignado
      </div>
      <div *ngIf="passenger.spaceship != null">
        {{passenger.spaceship.id}}
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="filter">
    <td mat-header-row *matHeaderCellDef colspan="2" style="z-index: 0; position: sticky; top:0;">
      <mdc-text-field label="Filtrar" dense (keyup)="applyFilter($event.target.value)" style="margin-left: 8px; margin-top: 4px;">
        <mdc-icon mdcTextFieldIcon leading>search</mdc-icon>
      </mdc-text-field>
      <button mdc-button secondary (click)="openBoardForm()" style="margin-left: 64px; margin-right: 4px;">
        Asignar
      </button>
      <button mdc-button secondary (click)="openLandDialog()" style="margin-left: 4px;">
        Bajar
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="['filter']; sticky:true"></tr>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true;"></tr>
  <tr mat-row *matRowDef="let dataSource; columns: columnsToDisplay"></tr>
</table>
